---
title: Registers
---

<div class="masthead">
  <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#main" itemprop="item"><span itemprop="name">Registers</span></a>
      </li>
    </ol>
  </nav>

  <div class="hero hero--breaded">
    <div class="hero__content">
      <div class="hero__body">
        <h1 class="hero__title">Build services using accurate and up-to-date data</h1>
        <div class="hero__inline-image">
          <img src="/images/registers-top-image.png" alt="" role="presentation">
        </div>
        <p class="hero__description">
          Use registers to build your service and get access to current and reliable data.
        </p>
        <a href="#" role="button" class="hero-button">
          Do this thing
        </a>
        <span class="hero-alternative-action">
          or <a href="#">do another thing</a> because reasons
        </span>
        <p>Pellentesque commodo arcu in sollicitudin lacinia. Vivamus lacus nibh, maximus nec laoreet eget, condimentum vel mi.</p>
      </div>
      <div class="hero__aside-image">
        <img src="/images/registers-top-image.png" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="content-section">
        <h2 class="content-section__title">What registers are</h2>
        <p class="content-section__body">
          Registers are lists of information. Each register is the
          most reliable list of its kind. For example, the Foreign and
          Commonwealth Office’s (FCO’s)
          <a href="https://country.register.gov.uk/">country&nbsp;register</a>
          is the most accurate and up-to-date list of countries
          available.
        </p>
      </section>

      <section class="content-section content-section--with-top-border">
        <h2 class="content-section__title">The benefits of registers</h2>
        <p class="content-section__body">Using a register will mean you’re only ever working with one reliable and current source of data.</p>
        <p class="content-section__body">Other sources (such as a statistical report) might not be properly looked after. They can be out of date or unpublished at any time.</p>
        <p class="content-section__body">This can affect your service and stop it working the way it should for your users.</p>
        <p class="content-section__body">Using a register instead will mean you can concentrate on building your service rather than checking if the data you’re using is still accurate.</p>
        <p class="content-section__body">Registers can also help you if you collect, manage or store data for your organisation. Find out how to <a href="https://www.gov.uk/guidance/creating-a-register">create a register</a>.</p>
      </section>

      <!-- <section class="content-section content-section--with-top-border">
        <h2 class="content-section__title">Using a register</h2>
        <p class="content-section__body">You can use an application programming interface (API) to automatically pull data from a register into your service. Doing this will mean you’ll always have access to the most recent version of the data in the register.</p>
        <p class="content-section__body">The data is available in a number of different formats. You can:</p>
        <ul class="list list-bullet">
          <li>use it as JSON if you’re a developer</li>
          <li>download it as a CSV file if you work with spreadsheets</li>
          <li>download it as an RDF file if you need to link it to another register</li>
        </ul>
      </section> -->
    </div> <!-- End Two Thirds -->

    <div class="column-one-third">
      <aside class="related-items">
        <h2 class="related-items__title">Registers you can use</h2>
        <ul class="related-items__list">
          <li><a href="https://country.register.gov.uk/">Country register</a></li>
          <li><a href="https://local-authority-eng.register.gov.uk/">Local authority England register</li>
          <li><a href="https://local-authority-type.register.gov.uk/">Local authority type register</a></li>
        </ul>
      </aside>
    </div>
  </div>
</div>
