---
title: Using Registers
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="/" itemprop="item"><span itemprop="name">Registers</span></a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      <a href="#main" itemprop="item"><span itemprop="name">Using Registers</span></a>
    </li>
  </ol>
</nav>

<div class="container">
  <div class="grid-row">
    <div class="column-one-third">
      <nav class="sub-navigation">
        <ol itemscope itemtype="http://schema.org/ItemList">
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="using-registers/available-registers.html" itemprop="item"><span itemprop="name">Available registers</a>
          </li>
          <li class="sub-navigation__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="using-registers/combining-registers.html" itemprop="item"><span itemprop="name">Combining registers</span></a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="column-two-thirds">
      <h1>How registers can help you build better digital services</h1>
      <p>Most registers are classified as &lsquo;open&rsquo;, which means the data within them can be accessed, copied and used freely by anyone. You can choose to use all or some of the data in the register.</p>

      <p>You can use the data to create features for forms. For example, the <a href="https://petition.parliament.uk/">UK government and Parliament petitions service</a> uses the <a href="https://country.register.gov.uk/">country register</a> to populate a drop-down menu from which users can select their location.</p>

      <h2>How registers are kept up to date</h2>

      <p>Each register is managed by one person from the organisation that&rsquo;s responsible for the data within it. This person is known as the custodian.</p>


      <p>As they&rsquo;re responsible for looking after the register, you can be confident that the data you&rsquo;re using to build your service is current.</p>


      <p>Using registers to build services is more reliable than using other sources of information, which might be out of date or at risk of being unpublished at any time.</p>

      <h2>How registers work</h2>

      <p>Each register is made up of records. Each record is made up of &lsquo;fields&rsquo; and &lsquo;values&rsquo;. For example, in the country register the record for Estonia has a field called &lsquo;official-name&rsquo;. The value of this field is &lsquo;The Republic of Estonia&rsquo;.</p>

      <p>Fields and values aren&rsquo;t specific to just one register. They can be used across several registers, regardless of which organisation manages them.</p>

      <p>This stops information being duplicated across registers. It also means registers can be easily linked to each other, which can help if you need access to data from more than one organisation to build your service.</p>

      <p>When any of the information in a register changes, a new &lsquo;entry&rsquo; is added to the record.</p>

      <p>The most recent entry is shown as the current version of the record. Older entries are also kept as part of the record to show when it was changed.</p>

      <h2>How to use a register</h2>

      <p>Each register has a read-only API that allows you to:</p>

      <ul class="list list-bullet">
	<li>find out information about a register</li>
	<li>get all the records from a register</li>
	<li>find records that share attributes with each other</li>
	<li>download either the whole or part of a registe</li>
	<li>find a single record, entry or item</li>
      </ul>
      <p>The <a href="http://open-registers-docs.readthedocs.io/en/latest/">technical documentation</a> has more information.</p>
      <p>Alternatively, you can download a copy of the register data directly from each register's homepage.</p>
    </div>
  </div>
</div>
